@import "compass/css3";

$backgroundColor: #fff;
$color: #555;
$linkColor: darken($color, 10%);
$highlight: red;

$fontSize: 24px;

@mixin bp($media) {
  @if $media == mobile {
    @media only screen and (max-width: 480px) { @content; }
  }
  @else if $media == firstbreak {
    @media only screen and (max-width: 1140px) { @content; }
  }
  @else {
    @media only screen and (max-width: $media + px) { @content; }
  }
}

html {
  background-color: $backgroundColor;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: $fontSize;
  line-height: 1.7em;
  color: $color;
  margin: 150px auto;
  @include bp(firstbreak) {
    padding: 0 30px;
    margin-top: 80px;
  }
  @include bp(mobile) {
    font-size: 16px;
  }
}

a, a:active, a:visited {
  text-decoration: none;
  color: $linkColor;
  font-weight: 600;
  border-bottom: 1px dotted $color;
}
a:hover {
  color: #000;
  border-bottom-style: solid;
}

main {
  max-width: 700px;
  margin: 0 auto 200px;

  > header {
    color: darken($color, 10%);
    font-size: 1.9em;
    letter-spacing: -2px;
    font-weight: 100;
    line-height: 1.4em;
    margin-bottom: 100px;
    @include bp(mobile) {
      margin-bottom: 60px;
      font-size: 1.5em;
      letter-spacing: -1px;
    }

    strong {
      color: darken($color, 10%);
    }

    a, a:visited, a:active {
      font-weight: 700;
      border-bottom: 2px dotted #3b3b3b;
    }
  }

  section {
    margin-top: 60px;
    @include bp(mobile) {
      margin-top: 60px;
    }

    figure {
      float: left;
      width: 40%;
      margin: 0 30px 0 0;
      &.right {
        float: right;
      }
      img {
        width: 100%;
      }
    }

    h3 {
      color: #3c3c3c;
    }

    h2 {
      font-size: 1.5em;
      color: #3c3c3c;
      margin: 1.4em 0 0.4em;
      text-transform: uppercase;
      font-weight: 800;
      @include bp(mobile) {
        font-size: 22px;
      }
    }
    h2 ~ p {
      margin-top: 0;
    }
  }

  strong {
    color: darken($color, 15%);
  }

  /*
  .contact {
    color: darken($highlight, 20%);
    h2 {
      color: darken($highlight, 20%);
    }
    a, a:active, a:visited {
      color: darken($highlight, 20%);
    }
    a:hover {
      color: darken($highlight, 30%);
    }
  }
  */
}
